body {
  background-color: #121212;
  color: #ffffff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f1f1f;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 32px;
}

header img
{
  float: left; 
  width: 90px; 
  margin-right: 20px;
  border-radius: 10px;
}
/* CSS for nav bar */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative; 
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #66c0f4;
}

/* Dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown button */
.dropbtn {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Home page grid*/
.featured-games {
  padding: 20px;
}

.featured-games .grid {
  max-width: 84%;
  padding-left: 8%;
  padding-right: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
  transition: grid-template-columns 0.5s ease;
  cursor: pointer;
}

.featured-games .grid:has(.left:hover) {
  grid-template-columns: 2fr 0.2fr 0.2fr 0.2fr 0.2fr;
}

.featured-games .grid:has(.centerleft:hover) {
  grid-template-columns: 0.2fr 2fr 0.2fr 0.2fr 0.2fr;
}

.featured-games .grid:has(.center:hover) {
  grid-template-columns: 0.2fr 0.2fr 2fr 0.2fr 0.2fr;
}

.featured-games .grid:has(.centerright:hover) {
  grid-template-columns: 0.2fr 0.2fr 0.2fr 2fr 0.2fr;
}

.featured-games .grid:has(.right:hover) {
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 2fr;
}

.featured-games img {
  border-radius: 15px;
  width: 100%;
  height: 600px;
  display: block;
  object-fit: cover; 
}

/* Footer CSS*/

footer {
  background-image: url(../Images/footer.avif);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
}
/* Make the video full screen and center in the panle */
iframe
{
  align-items: center;
  width: 100%;
  height: 500px;
  border: none;

}
.about
{
  padding: 20px;
}
/* CSS for making a grid and panle transformation */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}
.panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
.panel img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
table
{
  margin: auto;
  border-collapse: collapse;
}
th, td
{
  padding: .2em .7em;
  text-align: left;
}

#columns
{
  margin-top: 50px;
  column-count: 3;
  column-rule: 1px solid white;
  column-gap: 50px;
  padding: 10px;
}
.features-list li
{
  padding-right: 50px;
  list-style: none;

  
}




